body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 183, 147);
    background-repeat: none;
    background-size: cover;
}
.container{
    border: 2px solid black;
    display: flex;
    background-color: #9cb1b9;
    justify-content: center;
    margin-top: 100px;
    height: 45rem;
    width: 35rem;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.626);
}
.container:hover{
    transform: scale(1.002);
    box-shadow: 1px 1px 2px 1px;
    transition: ease-in-out 0.4s;
}
input{
    border: 3px solid rgb(82, 78, 78);
    border-radius: 20px;
    height: 60px;
    width: 22rem;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 4.5px;
    margin-top: 30px;
    margin-left: 35px;
}

i{
    border: 2px solid rgb(36, 35, 35) ;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    font-size: 30px;
}
input:hover{
    border-color: black;
    transition: ease-in-out 0.2s;
}
i:hover{
    border-color: black;
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
}


.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; 
}
.mid > img {
    width: 250px; 
    height: auto;
    margin-bottom: 10px; 
}

.mid > p{
    font-size: 40px;
}

p {
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
}

.lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.humidity,
.speed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity img{
    margin: 40px 90px 0px 90px;
    width: 80px; 
    height: auto;
}
.speed img {
    margin: 30px 90px 0px 90px;
    width: 80px; 
    height: auto;
}

.humidity p,
.speed p {
    margin: 10px 0px 14px 0px;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
}